@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	background: url(/images/background.png) #f6f4f5 no-repeat;
}

a,
a:visited {
	color: '#FC5676';
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#__next {
	height: 100vh;
}
